<div id="material-modal" class="modal modal-fixed-footer" tabindex="-1" ng-esc="close()" ng-enter="submit()">
  <div class="modal-content">
    <h4 class="modal-title">Edit Item</h4>
    <span class="absolute top right">
      <loading-indicator size="small" ng-if="loading"></loading-indicator>
    </span>
    <div class="modal-content-body">
      <form name="newItemForm" novalidate>
        <div class="row">
          <h6>Item Name</h6>
          <div class="input-field red-input">
            <input type="text" class="focus-first" ng-model="item.item" placeholder="iPhone 6S" required />
          </div>
        </div>
        <div class="row">
          <h6>Is the item identifiable?</h6>
          <directory-autocomplete model="item.resident" on-autocomplete="selectResident" required-field="false"></directory-autocomplete>
        </div>
        <div class="row">
          <h6>Additional Info/Comments</h6>
          <div class="input-field red-input">
            <input type="text" ng-model="item.comments" placeholder="Light blue case" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="waves-effect waves-orange btn-flat btn-orange" ng-click="update()" ng-disabled="newItemForm.$invalid || !dataHasChanged">Update</button>
    <button type="button" class="modal-action waves-effect waves-green btn-flat" ng-click="markFound()">Mark as Found</button>
    <button type="button" class="modal-action modal-close waves-effect waves-red btn-flat" ng-click="close()">Cancel</button>
    <button type="button" class="modal-action waves-effect waves-red btn-flat btn-red left" ng-click="deleteItem()">Delete</button>
  </div>
</div>