<div id="material-modal" class="modal modal-fixed-footer" tabindex="-1" ng-esc="close()" ng-enter="submit()">
  <div class="modal-content">
    <h4 class="modal-title">Event Title</h4>
    <div class="modal-content-body">
      <form name="newItemForm" novalidate>
        <div class="row">
          <h5>View Some Data</h5>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="waves-effect waves-green btn-flat" ng-click="submit()" ng-disabled="newItemForm.$invalid">Submit</button>
    <button class="modal-action modal-close waves-effect waves-red btn-flat" ng-click="close()">Cancel</button>
  </div>
</div>