<div id="material-modal" class="modal modal-fixed-footer" tabindex="-1" ng-esc="close()" ng-enter="submit()">
  <div class="modal-content">
    <h4 class="modal-title">Postage Due</h4>
    <span class="absolute top right">
      <loading-indicator size="small" ng-if="loading"></loading-indicator>
    </span>
    <div class="modal-content-body">
      <form name="newItemForm" novalidate>
        <div class="row">
          <div class="input-field red-input col s6">
            <h5>Postage Amount</h5>
            <input type="number" name="postage" class="focus-first" ng-model="newItem.amount" placeholder="1.00" min="0" step="0.01" required autocomplete="off" />
          </div>
        </div>
        <div class="row">
          <h5>For Resident</h5>
          <directory-autocomplete model="newItem.resident" on-autocomplete="selectResident" required-field="true" class="focus-first"></directory-autocomplete>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="waves-effect waves-green btn-flat" ng-click="submit()" ng-disabled="newItemForm.$invalid || loading">Submit</button>
    <button class="modal-action modal-close waves-effect waves-red btn-flat" ng-click="close()">Cancel</button>
  </div>
</div>
